<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name=apple-mobile-web-app-capable content=YES />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
  <title>最新项目搜集</title>
</head>
<style type="text/css">
.text-align {
  text-align: center;
}
</style>
<script type="text/javascript">
  $(function(){
    $(".refresh").bind("click", function(){
      location.reload();
    });
  });
</script>
<body>
  <div data-role="page">
    <header data-role="header" data-position="fixed" data-theme="b">
     <a href="/" data-role="button" data-icon="home" class="refresh">首页</a>
     <h1>项目列表</h1>
     <a href="/" data-role="button" data-icon="refresh" class="refresh">刷新</a>
    </header>

    <div data-role="content">
      <h5 class="text-align">
        文件最后更新时间是 <%=@lasttime %>
      </h5>
      <div class="section">
        <ul data-role="listview" data-inset="true">
          <li data-role="list-divider"><%=@rubychina.type %></li>
          <% @rubychina.items.each do |item| %>
            <li>
              <a href="<%=item.site %>" target="_blank">
                <h3><%=item.name %></h3>
                <p><label>最后回复时间:</label> <span><%=item.format_time %></span></p>
              </a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="section">
        <ul data-list-icon="gear" data-role="listview" data-inset="true">
          <li data-role="list-divider"><%=@zhubajie.type %></li>
          <% @zhubajie.items.each do |item| %>
            <li>
            <h3><%=item.name %></h3>
                <p>项目地址: <%=item.site %></p>
                <p>发布时间: <%=item.time %></p>
                <span class="ui-li-count"><%=item.money %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>


    <footer data-role="footer" data-theme="b">
      <h1>copyright @chucai 2013</h1>
    </footer><!-- /footer -->
  </div>
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
</body>
</html>
